@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";

@font-face {
    font-family: 'Yerevanyan';
    src: url('fonts/Yerevanyan-Bold.woff2') format('woff2'),
    url('fonts/Yerevanyan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yerevanyan';
    src: url('fonts/Yerevanyan-Regular.woff2') format('woff2'),
    url('fonts/Yerevanyan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div,
ul,
li,
form,
fieldset,
input,
button {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

li {
    list-style: none;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
button {
    *font-size: 100%;
}

input,
button {
    outline: 0;
}
p,h1,h2,h3,h4,h5,a,div{
    font-family: 'Yerevanyan';
    font-weight: normal;
}
body{
    background-color: #303030;
}
